@font-face {
  font-family: "iconfont"; /* Project id 3068363 */
  src: url("//at.alicdn.com/t/font_3068363_pesn48xpxp.woff2?t=1640586242375")
      format("woff2"),
    url("//at.alicdn.com/t/font_3068363_pesn48xpxp.woff?t=1640586242375")
      format("woff"),
    url("//at.alicdn.com/t/font_3068363_pesn48xpxp.ttf?t=1640586242375")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  background-color: #34495e;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  text-align: center;
  float: left;
  line-height: 40px;
  padding: 0 50px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.text {
  font-size: 10px;
  opacity: 0;
  transition: 0.3s;
}

a:hover .iconfont {
  transform: translateY(-20px) scale(0.7);
}
a:hover .text {
  opacity: 1;
  transform: translateY(-20px);
}
